@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  background-color: #c3cfe2;
  font-family: "Lato";
}
.socialmedia {
  list-style-type: none;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 30px;
}
.socialmedia li {
  display: block;
  width: 250px;
  position: relative;
  right: -180px;
  transition: right 0.3s ease-in-out;
}
.socialmedia li:hover {
  right: 0;
}
.socialmedia li i {
  padding: 20px;
  font-size: 2em;
  display: inline-block;
}
.socialmedia li a {
  color: white;
  padding-left: 10px;
}
.socialmedia__blog {
  background-color: #e17b77;
  color: white;
}
.socialmedia__twitter {
  background-color: #00aced;
  color: white;
}
.socialmedia__linkedin {
  background-color: #007bb6;
  color: white;
}
.socialmedia__facebook {
  background-color: #3b5998;
  color: white;
}
.socialmedia__github {
  background-color: #333;
  color: white;
}

/*iconen*/
.fa-laptop-code::before {
  content: "\f5fc";
}
.fa-twitter::before {
  content: "\f099";
}
.fa-linkedin-in::before {
  content: "\f0e1";
}
.fa-facebook-f::before {
  content: "\f39e";
}
.fa-github::before {
  content: "\f09b";
}
