//Variables

$color-gray: #c3cfe2;
$color-white: #fff;
$color-blue: #686de0;
$color-black: #000;
$color-dark-grey: #555;
$padding-standard: 30px 20px;

@mixin standard-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Scheherazade", serif;
  font-size: 1.5rem;
}
